# Analisis de datos
## Introducción a Pandas
## Índice:
1. [Extracción de datos](#Extraer-datos:-Restaurant)
2. [Filtrar datos](#Filtrar-datos)
3. [GroupBy](#GroupBy)
4. [Apply](#Apply:-Student-Alcohol-Consumption)
5. [Merge](#Merge:-Housing-Market)
6. [Stats](#Stats:-US---Baby-Names)
7. [Deleting](#Deleting:-Iris)
8. [Bonus](#lab#Bonus:)

<b>Nota:</b>
Esta practica esta basada en los ejercicios de varios recursos online como:

* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/
* https://www.kaggle.com/learn/pandas
* https://github.com/facuzeta/pandas_exercises
* https://github.com/guipsamora/pandas_exercises

# Extraer datos: Restaurant
Referencias:
* [Read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
* [Group by](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* [dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

1. Import the necessary libraries

In [14]:
import pandas as pd

2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [15]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

3. Assign it to a variable called chipo.

4. See the first 10 entries

In [16]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [17]:
len(chipo)

4622

6. What is the number of columns in the dataset?

In [18]:
chipo.shape[1]

5

7. Print the name of all the columns.

In [19]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

9. Which was the most-ordered item?

In [20]:
item_orders = chipo.groupby('item_name')['quantity'].sum()
item_orders_sorted = item_orders.sort_values(ascending=False)
print(item_orders_sorted)
most_ordered_item = item_orders.idxmax()
print("El item mas pedido fue: ",most_ordered_item)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64
El item mas pedido fue:  Chicken Bowl

10. For the most-ordered item, how many items were ordered?

In [21]:
num_items_ordered = item_orders.loc[most_ordered_item]
print ("La cantidad de veces que fue pedido fue: ", num_items_ordered)

La cantidad de veces que fue pedido fue:  761

11. What was the most ordered item in the choice_description column?

In [22]:
choice_des_orders = chipo.groupby('choice_description')['quantity'].sum()
choice_des_orders_sorted = choice_des_orders.sort_values(ascending=False)
print(choice_des_orders_sorted)
most_ordered_choice = choice_des_orders.idxmax()
print("El item mas pedido fue: ",most_ordered_choice)

choice_description
[Diet Coke]                                                                                                                159
[Coke]                                                                                                                     143
[Sprite]                                                                                                                    89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                               42
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]                                       1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]                                                   1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]                                              1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: quantity, Length: 1043, dtype: int64
El item mas pedido fue:  [Diet Coke]

12. How many items were orderd in total?

In [23]:
num_choice_ordered = choice_des_orders.loc[most_ordered_choice]
print ("La cantidad de veces que fue pedido fue: ", num_choice_ordered)

La cantidad de veces que fue pedido fue:  159

13. Turn the item price into a float

In [24]:
print(chipo["item_price"])
chipo["item_price"]=chipo['item_price'].str.replace('$', '').astype(float)
print(chipo["item_price"])

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object
0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

13.a. Check the item price type

In [25]:
chipo["item_price"].dtype

dtype('float64')

13.b. Change the type of the column into a float

13.c. Check the item price type

14. How much was the revenue for the period in the dataset?

In [26]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("The revenue was: $",revenue)

The revenue was:  39237.02

15. How many orders were made in the period?

In [31]:
num_orders = chipo['order_id'].nunique()
print ("The numers of orders made was: ",num_orders)

The numers of orders made was:  1834

16. What is the average revenue amount per order?

In [32]:
print("The average revenue per order is: ",revenue/num_orders)

The average revenue per order is:  21.39423118865867

17. How many different items are sold?

In [35]:
n_unique_items= chipo["item_name"].nunique()
print("The number of different items ordered is: ",n_unique_items)

The number of different items ordered is:  50

18. How many products cost more than $10.00?

In [38]:
expensive_products = chipo[chipo['item_price'] > 10.00]
n_unique_expensive = expensive_products["item_name"].nunique()
print("The number of items that cost more than 10 is: ",n_unique_expensive)
print("Y estos son: ")
for item in expensive_products['item_name'].unique():
    print(item)

The number of items that cost more than 10 is:  31
Y estos son:
Chicken Bowl
Steak Burrito
Chicken Burrito
Barbacoa Bowl
Veggie Burrito
Veggie Bowl
Chicken Soft Tacos
Steak Bowl
Carnitas Burrito
Carnitas Bowl
Barbacoa Burrito
Chicken Salad Bowl
Barbacoa Crispy Tacos
Veggie Salad Bowl
Chicken Crispy Tacos
Chicken Salad
Steak Salad Bowl
Bowl
Veggie Soft Tacos
Barbacoa Soft Tacos
Carnitas Crispy Tacos
Carnitas Salad Bowl
Barbacoa Salad Bowl
Chips and Fresh Tomato Salsa
Steak Soft Tacos
Carnitas Soft Tacos
Steak Crispy Tacos
Chips and Guacamole
6 Pack Soft Drink
Bottled Water
Side of Chips

# Filtrar datos
Referencias:
* [Reset Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)
* [Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

19. What is the price of each item? 
> print a data frame with only two columns item_name and item_price

In [39]:
item_prices = chipo[['item_name', 'item_price']]
item_prices.head(10)

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98
5                           Chicken Bowl       10.98
6                          Side of Chips        1.69
7                          Steak Burrito       11.75
8                       Steak Soft Tacos        9.25
9                          Steak Burrito        9.25

20. Sort by the name of the item

In [40]:
item_prices.sort_values(by=["item_name"])

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

21. What was the quantity of the most expensive item ordered?

In [43]:
most_expensives = chipo.sort_values('item_price', ascending=False)
print(most_expensives)
most_expensive_item_quantity = most_expensives.iloc[0]['quantity']
print("La cantidad del item mas caro ordenado es: ",most_expensive_item_quantity)

      order_id  quantity                     item_name
3598      1443        15  Chips and Fresh Tomato Salsa  \
3480      1398         3                 Carnitas Bowl
1254       511         4               Chicken Burrito
3602      1443         4               Chicken Burrito
3601      1443         3                Veggie Burrito
...        ...       ...                           ...
3936      1578         1                   Canned Soda
2922      1162         1                 Bottled Water
1396       567         1                   Canned Soda
2562      1014         1                   Canned Soda
1457       591         1                   Canned Soda

                                     choice_description  item_price
3598                                                NaN       44.25
3480  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       35.25
1254  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
3602  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
3601  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       33.75
...                                                 ...         ...
3936                                  [Diet Dr. Pepper]        1.09
2922                                                NaN        1.09
1396                                        [Coca Cola]        1.09
2562                                        [Coca Cola]        1.09
1457                                           [Sprite]        1.09

[4622 rows x 5 columns]
La cantidad del item mas caro ordenado es:  15

22. How many times was a Veggie Salad Bowl ordered?

In [46]:
# veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
# veggie_salad_count = veggie_salad_orders['quantity'].sum()
print("The number of veggie Salads ordered was: ", chipo[chipo['item_name'] == 'Veggie Salad Bowl']["quantity"].sum())

The number of veggie Salads ordered was:  18

23. How many times did someone order more than one Canned Soda?

# GroupBy

Referencias:
* [Describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

GroupBy can be summarized as Split-Apply-Combine. Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

24. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

25. Assign it to a variable called drinks.

26. Which continent drinks more beer on average?

27. Print the mean alcohol consumption per continent for every column

28. Print the median alcohol consumption per continent for every column

29. Print the mean, min and max values for spirit consumption.

# Apply: Student Alcohol Consumption
Referencias:
* [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html?highlight=apply#pandas.core.groupby.GroupBy.apply)

30. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

31. Assign it to a variable called df.

32. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

33. Create a function that will capitalize strings.

34. Capitalize both Mjob and Fjob

35. Print the last elements of the data set.

36. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

# Merge: Housing Market
Referencias:
* [randint](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html)

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

37. Import the necessary libraries

38. Create 3 differents Series, each of length 100, as follows: 
<br>
    The first a random number from 1 to 4 
    <br>
    The second a random number from 1 to 3
    <br>
    The third a random number from 10,000 to 30,000

39. Let's create a DataFrame by joinning the Series by column

40. Change the name of the columns to bedrs, bathrs, price_sqr_meter

41. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

42. Oops, it seems it is going only until index 99. Is it true?

43. Reindex the DataFrame so it goes from 0 to 299

# Stats: US - Baby Names

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014

44. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/US_Baby_Names_right.csv.zip).

45. Assign it to a variable called baby_names.

46. See the first 10 entries

47. Delete the column 'Unnamed: 0' and 'Id'

48. Is there more male or female names in the dataset?

49. Group the dataset by name and assign to names

50. How many different names exist in the dataset?

51. What is the name with most occurrences?

52. How many different names have the least occurrences?

53. What is the median name occurrence?

54. What is the standard deviation of names?

55. Get a summary with the mean, min, max, std and quartiles.

# Deleting: Iris
Referencias:
* [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

56. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

57. Assign it to a variable called iris

58. Create columns for the dataset

In [27]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

59.  Is there any missing value in the dataframe?

60.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

61. Good, now lets substitute the NaN values to 1.0

62. Now let's delete the column class

63.  Set the first 3 rows as NaN

64.  Delete the rows that have NaN

65. Reset the index so it begins with 0 again

# Bonus:
Si quiere mas ejercicios visitar:
* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/